/*-------------------------------------------*/
/*      En cas de bug de refresh du css      */
/*                Ctrl + F5                  */
/*-------------------------------------------*/
@font-face {
    font-family: TildaPetite;
    src: url(../medias/fonts/TildaPetite.otf);
}
@font-face {
    font-family: Bodoni-Black;
    src: url(../medias/fonts/Bodoni-Black.ttf);
}
@font-face {
    font-family: CocogooseExtraBold;
    font-style: normal;
    font-weight: 100;
    src: url(../medias/fonts/Cocogoose-Extra-Bold.otf);
}

@font-face {
    font-family: NeutraText-Book;
    src: url(../medias/fonts/NeutraText-Book.otf);
}

@font-face {
    font-family: Geometos;
    src: url(../medias/fonts/Geometos.ttf);
}
html{
    touch-action: none;
    cursor: url("../medias/clap.cur"), pointer;
}

html:active {
    cursor: url('../medias/clapped.cur'), auto;
}

#titre{
    font-family: Geometos
}

#bg-color-header{
    background-color: #28314e;
    height: 110px;
    float: left;
    width: -webkit-fill-available;
    z-index: -1
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-style: inset;
    border-width: 1px;
}

.article-liste{
    display: block;
    float: left;
    width: 400px;
}
.contenu{
    text-align: center;
    width: 812px;
    margin: 0 auto 50px;

}

.contenu:after {
    content: "";
    display: table;
    clear: both;
}

header>div>img{
    width: 130px;
    height: auto;
    float: left;
}

header>div>h1{
    margin-top:45px;
}

img{
    width: 100px;
    height: auto;
}

img.bannieres{
    float:none;
    width: 394px;
    height: 230px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border :10px ridge #959484;
}
.imgbanniere{
    width: 812px;
    height: 456px;
}
body {
    /*background-color: #2f2f2f;*/
    background: #221E1D url("../medias/wrap.jpg") repeat-y top center;
    font-family: Arial;
    margin: 0 auto 50px;
    color: black;
    line-height: 1.5em;
    font-size: 14px;
    display: block;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;

}

a:link,
a:visited {
    color: #A8D3E7;
}

a:hover {
    cursor: url("../medias/clapselec.cur"), pointer;
}
.contenuslide{
    z-index:-1;

}
header {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    font-family: monospace;
    float : right;
    padding:15px;
}

ul {
    background: #28314E;
    list-style: none;
    padding-inline-start: 00px;
}

li {
    color: #A8D3E7;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;

}

li a {
    color: #A8D3E7;
}

li:hover,
li:focus-within {
    background: red;
    cursor: url("../medias/clap.cur"), pointer

}

.tag{
    font-family: BrandonGrotesque-Bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    margin: 0 0 21px 0;
    padding: 7px 0 8px
}

.zigzag{
    background: url("../medias/zigzag.png") repeat-x;
    display: block;
    background-size: 184px;
    height: 55px;
}


em{
font-family: PosterBodoniBT-Roman;
color: #28314E;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: #28314E;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    cursor: url("../medias/clap.cur"), pointer;

}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}


.line {
    border-top: 1px dashed #666666;
}

h1 {
    color: #CCCCCC;
    height: 53px;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 0 0 0 0;
    float: left;
}

h2 {
    color: #e3007a;
    padding-top: 25px;
    font-size: 20px;
    letter-spacing: 3px;
}

.clear {
    clear: both;
}

.footer {
    height: 20px;!important;
    width: auto;
    display: block;
    position: fixed;
    bottom: 0;


}


.fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.mesSlides{
    width: 600px;
    align-content: center;
    z-index: -1;
    height: 360px;
    position: relative;
    left: 100px;
    bottom: 10px;
}

footer>p{
    text-align: center;
    opacity: 60%;
}

